# Description
-   Python supports five main built-in object types and an external data type that is accesible just like the built-in object types.
-   Unlike C, which approaches the problem of variable by supporting lowest common denominator
-   Python supports a number of high-level variables that are more practical for most program solution

## Python variables are actually objects
    -   By using objects as the basic storage level, the overall language is object-based
    -   You can use the same methods and functions to operate on different types of objects.

# 1. Number

In [1]:
var1 = 10
print(type(var1))

<class 'int'>

In [2]:
var2 = 10.0
print(type(var2))

<class 'float'>

In [3]:
var3 = var1 + var2
print(type(var3))

<class 'float'>

# 2. String
-   Can be created using '', "", """ """

In [4]:
var1 = "Hello"
print(type(var1))

<class 'str'>

In [9]:
var2 = 'Hello World'
print(var2)

Hello World

In [6]:
var1 = "'Hello' World"
print(var1)

'Hello' World

var2 = 'Hello "World"'
print(var2)

In [10]:
var3 = """
Hello
World
"""

print(var3)

Hello
World

In [13]:
var3 = """ "Hello" 'World' """
print(var3)

 "Hello" 'World'

In [17]:
var1 = "Hello World"
print(var1)

var1 = var1 * 3
print(var1)

Hello World
Hello WorldHello WorldHello World

In [18]:
var1 = "Hello "
var1 = var1 + "World"

print(var1)

Hello World

In [19]:
len(var1)

11

In [20]:
print(var1)

Hello World

In [21]:
var1[0]

'H'

In [22]:
var1[-1]

'd'

In [34]:
for i in range(0, len(var1) , 1):
    print(var1[i])

H
e
l
l
o

W
o
r
l
d

In [37]:
print(var1 , var1,  sep = "-")

Hello World-Hello World

In [41]:
print("My message is", var1)
print("My message is %s"%(var1))
print(f"My message is {var1}")

My message is Hello World
My message is Hello World
My message is Hello World

In [40]:
print(f"var1 = {var1}, var2 = {var2}, var3 = {var3}")

var1 = Hello World, var2 = Hello World, var3 =  "Hello" 'World'

# 3. List

In [43]:
var1 = [1, 2,2 ,3, "Hell0", 21.21, [1 ,2 ,3]]

In [48]:
var1[4][]

'H'

In [44]:
len(var1)

7

In [45]:
for i in range(len(var1)):
    print(var1[i])

1
2
2
3
Hell0
21.21
[1, 2, 3]

In [46]:
for value in var1:
    print(value)

1
2
2
3
Hell0
21.21
[1, 2, 3]

In [52]:
var1[4][2:]

'll0'

In [53]:
var2 = var1

In [54]:
var2 is var1

True

In [55]:
var2 = var1.copy()

In [56]:
var2 is var1

False

In [58]:
var1 = [1,2,2,3,4,4]

var2 = var1

var2[-1] = 5

print(f"var1 : {var1}, var2 : {var2}")
print(var1 is var2)

var1 : [1, 2, 2, 3, 4, 5], var2 : [1, 2, 2, 3, 4, 5]
True

In [59]:
var1 = [1,2,2,3,4,5,65,77]
var2 = var1.copy()

print(var2 is var1)
var2[-1] = 5

print(f"var1 : {var1}, var2 = {var2}")

False
var1 : [1, 2, 2, 3, 4, 5, 65, 77], var2 = [1, 2, 2, 3, 4, 5, 65, 5]

In [60]:
var1 = [1,2,2,3,4,5,65,77]
var2 = var1
print(var2 is var1)
var2 = var1.copy()

print(var2 is var1)
var2[-1] = 5

print(f"var1 : {var1}, var2 = {var2}")

True
False
var1 : [1, 2, 2, 3, 4, 5, 65, 77], var2 = [1, 2, 2, 3, 4, 5, 65, 5]

In [64]:
var1 = (1,2,3,4,5,6,21,1,1,[1,2,3])
var1

(1, 2, 3, 4, 5, 6, 21, 1, 1, [1, 2, 3])

In [66]:
x, y = (10 ,20)
print(x,y)

10 20

var1[0] = 2

# 5. Dictionary

In [67]:
housing_data = {
    'price': 10.0,
    'size' : 100,
    'area': "Dahod",
    2: [1,2,3,4,], 
}

housing_data

{'price': 10.0, 'size': 100, 'area': 'Dahod', 2: [1, 2, 3, 4]}

In [68]:
for key,value in housing_data.items():
    print(key, value)

price 10.0
size 100
area Dahod
2 [1, 2, 3, 4]

In [69]:
for key in housing_data.keys():
    print(housing_data[key])

10.0
100
Dahod
[1, 2, 3, 4]

In [70]:
for value in housing_data.values():
    print(value)

10.0
100
Dahod
[1, 2, 3, 4]