# 22 march

In [13]:
import datetime
currentdate=datetime.datetime.now()
print(currentdate)
print(currentdate.month)
print(currentdate.year)
print(currentdate.hour)

2021-06-18 17:23:26.442617
6
2021
17

In [25]:
#import datetime
birthday=datetime.datetime(1999,6,19)
print(birthday)

1999-06-19 00:00:00

In [17]:
#strftime= string format time
#month= %B, date=%d, day=%A, weeek=%w, year(full)=%Y, year(short cut for example 21(2021))= %y, AM/PM=%p, full date year time=%c.  we have to write all % element in "". 
month=currentdate.strftime("%c")
print(month)

Fri Jun 18 17:23:26 2021

In [19]:
import math
n=45.5
print(math.sqrt(n))
print(math.exp(n))
print(math.log(n))
print(math.ceil(n))
print(math.floor(n))

6.745368781616021
5.759687576887954e+19
3.817712325956905
46
45

In [ ]:
print(math.pow(2,4))
print(math.pi)
print(math.e)
print(math.factorial(5))

# 23 march

In [8]:
n=45,56,65
print(n)
print(n[0])
print(n[1:])

(45, 56, 65)
45
(56, 65)

In [9]:
#list
mylist=["my","name","is","mustafa"]
print(mylist)
mylist.append("pipaliya")
print(mylist)

['my', 'name', 'is', 'mustafa']
['my', 'name', 'is', 'mustafa', 'pipaliya']

In [10]:
#use replace function
name="my name is mustafa "
print(name.replace("mustafa","pipaliya"))

my name is pipaliya

In [11]:
#Write a python code to declare the string as " Symbiosis University" and extract the string University from the entire string

#declare string
c="Symbiosis University"
print(c[10:21])

University

In [12]:
#question 2 : input name from user and print 1st three letters of the name
name=input("enter the name")
print(name[0:3])

# 2nd APRIL DICTIONARY

In [16]:
mydictionary={"name":"mustafa","class":"python","collage":"symbiosis"}
print(mydictionary)
print(mydictionary.keys())
print(mydictionary.values())
print(mydictionary["name"])
print(mydictionary["collage"])

{'name': 'mustafa', 'class': 'python', 'collage': 'symbiosis'}
dict_keys(['name', 'class', 'collage'])
dict_values(['mustafa', 'python', 'symbiosis'])
mustafa
symbiosis

# 16 APRIL

In [3]:
# question: Accept from user lectures conducted by Faculty and lectures attended by student.Display whether student gets CNG if attendance percentage is less than 75
lecture_atten=int(input("enter the lecture attended"))
lecture_con=int(input("enter the lecture conducted"))
attendence_percentage=(lecture_atten*100)/lecture_con
print(attendence_percentage)

if attendence_percentage < 75:
    print("not eligible for th exam")
else:
    print("eligible")

120.0
eligible

In [4]:
# question 2. write a python code to accept a number from user and check whether it is 2 digit number or not.
n=int(input("enter the number"))
if n>9 and n<100:
    print("2 digit number",n)
elif n>=100:
    print("its a three digit number",n)
elif n <=9:
    print("its a one digit number",n)
else:
    print("not a 2 digit number",n)

2 digit number 50

# 19 APRIL

In [90]:
# Q.write a python code to accept an age of student and check whether he is eligible to vote , age 18 eligible to vote
age=int(input("enter the age"))
if age>=18:
    print("he is eligible to vote",age)
elif age<18:
    print("under age",age)
else:
    print("he is not eligible",age)

he is eligible to vote 18

In [95]:
# Q.write a python code read username and password and check if user is valid or not
#username "Msc", password "gis"
user="Msc"
password="gis"
username=input("enter the user name")
if username==user:
    a=input("enter the password")
    if a==password:
        print("welcome")
    else:
        print("that is wrong password")
else:
        print("that is wrong username")

welcome

In [102]:
#Q1. Write a Python Code to ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.
#if employee is female, then she will work only in urban areas.
#if employee is a male and age is in between 20 to 40 then he may work in anywhere
#if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
#And any other input of age should print "ERROR".

age=int(input("enter the age"))
sex=input("enter sex[male/female]")
if sex=="F":
    print("she will work only in urban areas")
elif sex=="M" and 20<age<40:
    print("he may work anywhere")
elif sex=="M" and 40<age<60:
    print("he will work  in urban areas only")
else:
    print("age error")

age error

# 27 APRIL

### Write a Python  code that calculates the commission for a sales person depending on the volume of sales he achieves.For a sales figure of 4000, he gets 20% commission.For 8000 he gets 40% andfor 12000 and more  he gets 50% commission.If he is not able to achieve the minimum target of 4000,he shall be given a fixed commission of Rs.500.

In [1]:


sales=int(input("enter the sales"))
if sales>=4000 and sales<8000:
    com=(sales/100)*20
    print("your commission is 20%",com)
elif sales>=8000 and sales<12000:
    com=(sales/100)*40
    print("your commission is 40%",com)
elif sales>=12000:
    com=(sales/100)*50
    print("your commission is 50%",com)
else:
    print(" he is not able to achieve the minimum target of 4000,he shall be given a fixed commission of Rs.500.")

ValueError: invalid literal for int() with base 10: ''

In [112]:
#question:ask the user to enter a temperature in Celsius.the program should print a message based on the temperature:
#if the temperature is less than -273.15,print that the temperature is invalid because it is below absolute zero.
#if it is exactly -273.15,print that the temperature is absolute 0.
#if the temperature is between -273.15 and 0,print that the temperature is below freezing.
#if it is 0,print that the temperature is at the freezing point
#if it is between 0and 100,print that the temperature is in the normal range
#if it is 100,print that the temperature is at boiling point
#if it is above 100,print temperature is above boiling point
temp=int(input("enter the temperature in C"))
if temp < -273.15:
    print("the temperature is invalid because it is below absolute zero.")
elif temp == -273.15:
    print("the temperature is absolute 0.")
elif temp <=0 and temp >-273.15:
    print("the temperature is at the freezing point")
elif temp>0 and temp <100:
    print("the temperature is in the normal range")
elif temp==100:
    print("the temperature is at boiling point")
else:
    print("temperature is above boiling point")

temperature is above boiling point

# 29 APRIL WHILE LOOP

In [16]:

n= 100

while n<=200:
    print("hello",n)
    n=n+1
print("outside loop")

hello 100
hello 101
hello 102
hello 103
hello 104
hello 105
hello 106
hello 107
hello 108
hello 109
hello 110
hello 111
hello 112
hello 113
hello 114
hello 115
hello 116
hello 117
hello 118
hello 119
hello 120
hello 121
hello 122
hello 123
hello 124
hello 125
hello 126
hello 127
hello 128
hello 129
hello 130
hello 131
hello 132
hello 133
hello 134
hello 135
hello 136
hello 137
hello 138
hello 139
hello 140
hello 141
hello 142
hello 143
hello 144
hello 145
hello 146
hello 147
hello 148
hello 149
hello 150
hello 151
hello 152
hello 153
hello 154
hello 155
hello 156
hello 157
hello 158
hello 159
hello 160
hello 161
hello 162
hello 163
hello 164
hello 165
hello 166
hello 167
hello 168
hello 169
hello 170
hello 171
hello 172
hello 173
hello 174
hello 175
hello 176
hello 177
hello 178
hello 179
hello 180
hello 181
hello 182
hello 183
hello 184
hello 185
hello 186
hello 187
hello 188
hello 189
hello 190
hello 191
hello 192
hello 193
hello 194
hello 195
hello 196
hello 197
hello 198
hello 199
hello 200
outside loop

In [13]:
num=200
while num <=300:
    print("hello",num)
    num=num+2

hello 200
hello 202
hello 204
hello 206
hello 208
hello 210
hello 212
hello 214
hello 216
hello 218
hello 220
hello 222
hello 224
hello 226
hello 228
hello 230
hello 232
hello 234
hello 236
hello 238
hello 240
hello 242
hello 244
hello 246
hello 248
hello 250
hello 252
hello 254
hello 256
hello 258
hello 260
hello 262
hello 264
hello 266
hello 268
hello 270
hello 272
hello 274
hello 276
hello 278
hello 280
hello 282
hello 284
hello 286
hello 288
hello 290
hello 292
hello 294
hello 296
hello 298
hello 300

# 4th MAY

In [17]:
#Write a python code to display 10 to 1 numbers in reverse order
num=10
while num>1:
    print("number in reverse order",num)
    num=num-1

number in reverse order 10
number in reverse order 9
number in reverse order 8
number in reverse order 7
number in reverse order 6
number in reverse order 5
number in reverse order 4
number in reverse order 3
number in reverse order 2

In [18]:
#Write a Python code to display every 5th number between 500 to 1000
num= 500
while num<=1000:
    print(num)
    num=num+5

500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655
660
665
670
675
680
685
690
695
700
705
710
715
720
725
730
735
740
745
750
755
760
765
770
775
780
785
790
795
800
805
810
815
820
825
830
835
840
845
850
855
860
865
870
875
880
885
890
895
900
905
910
915
920
925
930
935
940
945
950
955
960
965
970
975
980
985
990
995
1000

In [23]:
#write a python code to accept the two numbers and display all the numbers between those two numbers
#accept two numbers
num1=int(input("enter the 1st number"))
num2=int(input("enter the 2nd number"))

while num1 <= num2:
    print(num1)
    num1=num1+1

100
101
102
103
104
105
106
107
108
109
110

In [29]:
#4. Write a python code to accept a number from user and print all the even numbers between 1 to that number.For example if number is 25 then print all the even numbers between 1 to 25
num1=50
num2=int(input("enter the number"))
while num1 >= num2:
            print(num1)
            num1= num1+2

In [30]:
#Write a python code to accept a number and print the table of that number.
i=1
num1=int(input("enter the number"))
while i<=10:
    print(num1*i)
    i=i+1

5 5
5 10
5 15
5 20
5 25
5 30
5 35
5 40
5 45
5 50

# 6th MAY

In [31]:
#class: repetative addition(count).find the count number between 100 to 175
start=100
count=0

while start<=200:
    count=count+1
    print(count,start)
    start=start+1

1 100
2 101
3 102
4 103
5 104
6 105
7 106
8 107
9 108
10 109
11 110
12 111
13 112
14 113
15 114
16 115
17 116
18 117
19 118
20 119
21 120
22 121
23 122
24 123
25 124
26 125
27 126
28 127
29 128
30 129
31 130
32 131
33 132
34 133
35 134
36 135
37 136
38 137
39 138
40 139
41 140
42 141
43 142
44 143
45 144
46 145
47 146
48 147
49 148
50 149
51 150
52 151
53 152
54 153
55 154
56 155
57 156
58 157
59 158
60 159
61 160
62 161
63 162
64 163
65 164
66 165
67 166
68 167
69 168
70 169
71 170
72 171
73 172
74 173
75 174
76 175
77 176
78 177
79 178
80 179
81 180
82 181
83 182
84 183
85 184
86 185
87 186
88 187
89 188
90 189
91 190
92 191
93 192
94 193
95 194
96 195
97 196
98 197
99 198
100 199
101 200

In [35]:
#repetative addition
start=50
addition=0

while start<=60:
    addition=addition+start
    print(addition,start)
    start=start+1
print(addition)

50 50
101 51
153 52
206 53
260 54
315 55
371 56
428 57
486 58
545 59
605 60
605

In [2]:
#code to access values of list
mylist=["mango","banana","apple","grapes","chiku"]
index=0
while index<6:
     print(mylist[index])
     index =index+2

mango
apple
chiku

In [1]:
name="dahod"
print(name.count("a"))

1